.graphs {
  display: flex;
  flex-direction: column;
}
#graph_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}
.ngx-charts {
  width: 80% !important;
}
.mat-expansion-panel {
  max-width: 100%;
}
.graphs {
  flex: 1;
  margin-right: 5px;
  margin-bottom: 5%;
  max-height: 75vh;
  max-width: 100vw;
  display: inline;
  position: center;
}
#graph_color_test {
  background-color: #333333;
  color: #dc9a4c;
  fill: #a5ea3e;
}
[_nghost-c0] ::ng-deep .ngx-charts .gridline-path {
  stroke: #626162 !important;
}

mat-panel-description.right-aligned {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 0;
}

.redButton {
  padding-left: 1.5%;
  color: red;
}

mat-cell {
  color: #d59306;
  font-size: 15px;
  cursor: pointer;
}
.mat-mdc-table {
  min-width: auto !important;
  width: 100% !important;
}
