.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2%;
}

.view-btn {
  background-color: #2e98a3;
  cursor: pointer;
}

.view-btn:hover {
  background-color: dimgray;
  cursor: pointer;
}
