form {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

div.necessary-arguments {
  padding-left: 3%;
}
div.necessary-arguments.ng-star-inserted {
  margin-bottom: 10px;
}

h3 {
  color: #d59306;
  font-weight: bold;
  margin-left: 1%;
  margin-top: 0.5%;
}

h3.arguments {
  color: #d59306;
  font-weight: bold;
  margin-bottom: 2%;
  margin-left: 1%;
}

.mat-mdc-radio-button {
  margin-right: 16px;
}

.tcName {
  color: #2e98a3;
}

h4 {
  color: darkgrey;
  font-weight: bold;
}

.dynamic-enum-arrays,
.dynamic-integer-arrays,
.dynamic-aggregate-arrays,
.dynamic-binary-arrays {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.aggregates {
  margin-left: 1%;
  margin-bottom: 5px;
}

.numbers:focus {
  outline: none;
  border: 2px solid #d59306;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #d59306;
}

::placeholder {
  font-weight: bold;
}

.argument-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 25%;
}

.argument-info h4:nth-child(2) {
  margin-left: auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of input that may no longer apply for the MDC version. */
input,
mat-input {
  border-radius: 3px;
  border-color: black;
  background-color: dimgrey;
  width: 25%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  color: antiquewhite;
  font-weight: bold;
  margin: 3px 0px;
}

input[type="number"]:out-of-range {
  outline: none;
  border: 2px solid red;
}

button {
  font-weight: bold;
  border-radius: 5px;
  width: 20%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 20px 50px 0px 0px;
}

.mat-mdc-button.initial {
  background-color: #36342e;
}

.mat-mdc-button.notinitial {
  background-color: #303030;
}

.buttons {
  display: flex;
  margin-top: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.boolean-inputs {
  color: darkgrey;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  width: 25%;
  font-weight: bold;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
mat-select {
  background-color: dimgrey;
  width: 25%;
  /* color: #d59306; */
  border-radius: 3px;
  /* box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3); */
  margin: 3px 0px;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
:host /deep/ .mat-select-value-text {
  color: antiquewhite;
  font-weight: bold;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option {
  color: #d59306;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option[aria-selected="true"] {
  color: antiquewhite;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
/* mat-option:hover:not(.mat-option-disabled) {
  background-color: dimgrey;
} */

mat-hint {
  margin-left: 5px;
}
