/*leaves space between elements  */
div {
  margin: 1rem;
}

/* next 2 work together to render the images correctly inside the toolbar */

img {
  height: 95%;
  width: auto;
}

div.images {
  text-align: center;
  width: 100%;
  height: 100%;
}

/* maybe useless for now but is used to not appear the underline in a tag */
a {
  text-decoration: none;
}

/* move the acubeSAT logo to the right */

.acube {
  margin: 1rem 0;
  color: #2e98a3 !important;
  float: right;
  vertical-align: middle;
  font-size: 17px;
}

.acube:hover {
  cursor: default;
  background-color: #252525;
}

mat-icon {
  color: #d59306;
  vertical-align: middle;
  margin: 0 0.5rem;
  overflow: visible !important;
}

.username {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

mat-select {
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  min-width: 20px;
  width: 40%;
  color: #d59306;
  background-color: #202020;
  border: none;
  font-weight: bold;
  font-size: small;
}

mat-select:hover {
  cursor: pointer;
  background-color: #d5930632;
  border-radius: 4px;
}

mat-option {
  font-style: bold;
}
